.list-cont{
    border-radius: 2%;
    border: 1px solid lightgray;
    margin: 4rem auto;
    width: 75%;
    height: 50rem;
    overflow-y: scroll;
}

input{
    height: 3rem;
    border: 0;
    border-bottom: 1px lightgray solid;
    width: 95%;
    margin: auto 1rem;
    font-size: 18px;
    outline: 0;
    font-family: 'Raleway', sans-serif;
}